// 1- Main text color and nav-bar background color
// 2- Link and highlight color
// 3- Main background color
// 4- Accent background color
// 5- Link-hover color and footer-link color

/* SCSS HEX */
$delft_blue: #323950;
$cerulean: #00619b;
$gray98: #FAFAFA;
$pistachio: #A9CA85;
$pastel_green: #00619b;
$danger: #a82b1e;
$dimgray: #6a6a6a;
$signalblack: #2C2C2C;
$cadet: 5c6269;

/** main color scheme **/
$main-text-color: $signalblack;
$main-bg: $gray98;
$main-link: $cerulean;
$main-link-hover: $danger;
$main-headers: $cerulean;

/** dark-background color scheme **/
$dark-text-color: $delft_blue;
$dark-bg: $cadet;
$dark-link: $cerulean;
$dark-link-hover: $danger;
$dark-headers: $cerulean;

/** accent-background color scheme **/
$accent-text-color: $delft_blue;
$accent-bg: $pastel_green;
$accent-link: $cerulean;
$accent-link-hover: $danger;
$accent-headers: $delft_blue;

