---
layout: default
format: homepage2
---

<hr>


<div class="grid-container">
<div class="grid-x grid-padding-x align-middle">
<div class="cell medium-8 align-right small-order-2 medium-order-1 large-order-1 align-middle" markdown="1" >

{% if page.pullquote != empty %}<span class="pull-quote"><p>{{page.pullquote}}</p>{% if page.quoteattribution != empty %}<p class="quiet">--{{page.quoteattribution}}</p>{%endif%}</span>{%endif%}

			<h2 style="text-align:center"> 
			Playing a Pivotal Role in the development Thrust of St. Kitts and Nevis.
			</h2>
			<p style="text-align:center"> 
			---
				<br>
			Marilyn Rogers - Former Principal, Clarence Fitzroy Bryant College.
			</p>
	
			
</div>
	<div class="cell medium-4 align-left small-order-1 medium-order-2 large-order-2">
		<div class="card card-thumbnail">

<p style="text-align:center">To contribute to this community history project, please contact Mrs. Sonita Daniel, Director of Library Services.</p>

<div class="address">
  	<hr><p style="text-align:center">{% if site.email != blank%}<em>{{ site.email }}</em>{%endif%}</p><hr>
</div>
		</div>
</div>
</div>
</div>
<!-- BELOW THE FOLD CONTENT + TIMELINE -->
<div class="below-the-fold">
	<div class="body-text">
		{{content}}
	</div>
</div>
