---
layout: default
format: homepage
---

<!-- HEADER + NAV BAR + TITLE STUFF -->
<div class="darkbg">
	<div class="grid-container">
		<h4 class="center">{{ site.subtitle }}</h4>
		<h1 class="center siteheader subheadline">{{ site.title }}</h1>
	</div>
</div>

<!-- WALLPAPER & FEATURE QUOTE -->
<div class="above-the-fold">
	<div class="building-wallpaper">
		<img src="assets/img/photo_building.jpg">
	</div> 
	<div class="feature-quote-box">
		<div class="feature-quote-text">
			{{page.pullquote}} <br>
			--{{page.quoteattribution}}
		</div>
	</div>
	
</div>

<!-- BELOW THE FOLD CONTENT + TIMELINE -->
<div class="below-the-fold">
	<div class="body-text">
		{{content}}
	</div>
	<div class="timeline">
		TIMELINE
	</div>
</div>

<!-- BELOW THE FOLD CONTENT + TIMELINE -->
<div class="featured-banner">
	EVENTS / FEATURED BANNER
</div>

<div class="contributions-banner">
	HOW TO CONTRIBUTE
</div>
