---
layout: default
format: homepage2
---

<!-- HEADER + NAV BAR + TITLE STUFF -->
<div class="darkbg">
	<div class="grid-container">
		<h4 class="center">{{ site.subtitle }}</h4>
		<h1 class="center siteheader subheadline">{{ site.title }}</h1>
	</div>
</div>
<div class="grid-container">
<div class="grid-x grid-padding-x align-middle">
<div class="cell medium-8 align-right small-order-2 medium-order-1 large-order-1 align-middle" markdown="1" >

{% if page.pullquote != empty %}<span class="pull-quote"><p>{{page.pullquote}}</p>{% if page.quoteattribution != empty %}<p class="quiet">--{{page.quoteattribution}}</p>{%endif%}</span>{%endif%}

			<p> 4 campuses.
			<br>
			<br>
			5 divisions.
			<br>
            		<br>
			60 degree programs.
			</p>
</div>
	<div class="cell medium-4 align-left small-order-1 medium-order-2 large-order-2">

<p>To contribute to this community history project, please contact Mrs. Sonita Daniel, Director of Library Services.</p>

<div class="address">
  	<hr><p style="text-align:center">{% if site.email != blank%}<em>{{ site.email }}</em>{%endif%}</p><hr>
</div>	
</div>
</div>
</div>
<!-- BELOW THE FOLD CONTENT + TIMELINE -->
<div class="below-the-fold">
	<div class="body-text">
		{{content}}
	</div>
</div>
